# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Project Specific Data (Never push raw datasets)
data/

# Project Outputs (Keep local test results local until final run)
results/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db